<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itz.stock.mapper.StockMarketIndexInfoMapper">

    <resultMap id="BaseResultMap" type="com.itz.stock.pojo.StockMarketIndexInfo">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="markId" column="mark_Id" jdbcType="CHAR"/>
            <result property="curTime" column="cur_time" jdbcType="TIMESTAMP"/>
            <result property="markName" column="mark_name" jdbcType="VARCHAR"/>
            <result property="curPoint" column="cur_point" jdbcType="DECIMAL"/>
            <result property="currentPrice" column="current_price" jdbcType="DECIMAL"/>
            <result property="updownRate" column="updown_rate" jdbcType="DECIMAL"/>
            <result property="tradeAccount" column="trade_account" jdbcType="BIGINT"/>
            <result property="tradeVolume" column="trade_volume" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,mark_Id,cur_time,
        mark_name,cur_point,current_price,
        updown_rate,trade_account,trade_volume
    </sql>

    <select id="selectByIdsAndDate" resultType="com.itz.stock.common.domain.InnerMarketDomain">
        SELECT
            tmp.mark_Id                             AS code,
            tmp.mark_name                           AS name,
            sml.pre_close_price                     AS preClosePrice,
            sml.open_price                          AS openPrice,
            tmp.current_price                       AS tradePrice,
            tmp.updown_rate                         AS upDown,
            tmp.trade_account                       AS tradeAmt,
            tmp.trade_volume                        AS tradeVol,
            DATE_FORMAT( tmp.cur_time, '%Y%m%d')    AS curDate
        FROM
            (
            SELECT	* 	FROM	stock_market_index_info AS smi
            WHERE smi.cur_time =#{lastDate}
            AND smi.mark_Id IN
            <foreach collection="ids" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
            ) AS tmp
        LEFT JOIN stock_market_log_price AS sml ON tmp.mark_Id=sml.market_code
        AND DATE_FORMAT( sml.cur_date, '%Y%m%d' )= DATE_FORMAT(#{lastDate},'%Y%m%d' )
    </select>

    <select id="stockTradeVolCount" resultType="map">
        select
            date_format(smi.cur_time,'%Y%m%d%H%i') as time,
            sum(smi.trade_account) as count
        from stock_market_index_info as smi
        where smi.cur_time between #{startTime} and #{endTime}
            and smi.mark_Id in
            <foreach collection="marketIds" item="id" separator="," open="(" close=")">
                #{id}
            </foreach>
        group by time
    </select>

</mapper>
